<div class="container">
  <h1 class="title">VAŠE FITNESS ODREDIŠTE</h1>

  <img src="https://tropeaka.com/cdn/shop/articles/main_image_d517c79f-4ec7-4946-bb5e-db7e80623e85_1080x.jpg?v=1571697737" alt="GymImage" class="gymimage">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

  <div class="description-container" style="text-align: center; max-width: 800px; margin: 20px auto;">
    <p class="description">
      Dobrodošli na naš fitness blog, vaš glavni izvor informacija o zdravlju i kondiciji! Ovdje ćete pronaći 
      savjete i strategije koje će vam pomoći da ostvarite svoje fitness ciljeve.
    </p>

    <p class="description">
      Prijavite se za naše online treninge i personalizirana savjetovanja. Iskoristite priliku da učite od
      naših stručnjaka i povežite se s drugima u zajednici. 
    </p>
  </div>

  <div class="icon-container">
    <div class="icon">
      <i class="fas fa-dumbbell"></i>
      <h3>Treninzi s utezima</h3>
      <p>Pridružite se našim treninzima uživo ili online i radite s našim stručnim trenerima</p>
    </div>
    <div class="icon">
      <i class="fas fa-running"></i>
      <h3>Nutricionistička savjetovanja</h3>
      <p>Prijavite se za personalizirana nutricionistička savjetovanja i poboljšajte svoj prehrambeni plan.</p>
    </div>
    <div class="icon">
      <i class="fas fa-user-friends"></i>
      <h3>Grupni treninzi</h3>
      <p>Pridružite se našim grupnim treninzima uživo ili online za dodatnu motivaciju i podršku zajednice.</p>
    </div>
  </div>
</div>
